body{
    background-color: aqua;
}
h2{
    font-style: oblique;
    text-align: center;
}
ul{
    padding: 10px;
}
li{
    display:inline;
}
li{
    padding: 0px 10px 0px 10px;
}
header{
    color: blue;
    text-align: center;
    background: url(images/cat3.jpg);
    background-size: cover;
    padding: 20px 0px 0px 0px
}
h1{
    font-size: 30px;
}
header-pic{
    margin: 40px 0px 0px 0px;
    border: 50px;
    border-color: black;
}